:host {
    position: fixed;
    z-index: 1000;
    top: min(6rem, 25vh);
    right: var(--layout-gutter, 1rem);
    max-width: calc(100vw - 2rem);
    max-height: calc(100dvh - min(6rem, 25vh) - 1rem);
    overflow: auto;
}
